<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <span class="navbar-brand mb-0 h1">Grupo #4</span>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4 mt-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Caja #1</h5>



          <button class="btn btn-success m-1" (click)='startTimer1()'>Iniciar de atencion</button>
          <button class="btn btn-warning m-1"(click)='pauseTimer1()'>Pausar</button>
          <p>{{timeLeft1}} segundos</p>
          <p *ngIf="timeLeft1===0"><strong class="text-danger">Tiempo de Cita Agotado</strong></p>


          <p class="card-text">Atendiendo a la Ficha #{{caja1}}</p>
          <a (click)="reinicioCaja1(caja1)" class="btn btn-primary">Siguiente</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Caja #2</h5>

          <button class="btn btn-success m-1" (click)='startTimer2()'>Iniciar de atencion</button>
          <button class="btn btn-warning m-1"(click)='pauseTimer2()'>Pausar</button>
          <p>{{timeLeft2}} segundos</p>
          <p *ngIf="timeLeft2===0"><strong class="text-danger">Tiempo de Cita Agotado</strong></p>

          <p class="card-text">Atendiendo a la Ficha #{{caja2}}</p>
          <a (click)="reinicioCaja2(caja2)" class="btn btn-primary">Siguiente</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Caja #3</h5>

          <button class="btn btn-success m-1" (click)='startTimer3()'>Iniciar de atencion</button>
          <button class="btn btn-warning m-1"(click)='pauseTimer3()'>Pausar</button>
          <p>{{timeLeft3}} segundos</p>
          <p *ngIf="timeLeft3===0"><strong class="text-danger">Tiempo de Cita Agotado</strong></p>


          <p class="card-text">Atendiendo a la Ficha #{{caja3}}</p>
          <a (click)="reinicioCaja3(caja3)" class="btn btn-primary">Siguiente</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5 mb-5">
 <div class="row">
   <div class="col-md-6 offset-md-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 *ngIf="contadorFichas > 0" class="card-title">Numero de Ficha #{{contadorFichas}}  </h5>
        <p *ngIf="contadorFichas > 0" class="card-text">Pase a la caja {{cajaAntencion}}</p>
        <button *ngIf="contadorFichas === 0" (click)="asignarFicha(contadorFichas)"  class="btn btn-primary" >Iniciar</button>
        <a *ngIf="contadorFichas > 0"  (click)="asignarFicha(contadorFichas)" class="btn btn-primary text-white">Siguiente Ficha <i class="fas fa-ticket-alt"></i></a>
      </div>
    </div>
   </div>
 </div>
</div>

